html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
h1 {
  text-align: center;
  font-size: 5vh;
  padding: 3vh;
}
h2 {
  text-align: center;
  font-size: 3vh;
}
section {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}
.resetButton {
  border-radius: 1vh;
  font-size: 3vh;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url('assets/model x.jpg');
  background-size: auto 150vh;
  background-position: center;
}
main {
  display: flex;
  width: 75vh;
  height: 75vh;
  margin: 5%;
}
p {
  width: 25vh;
  height: 25vh;
}
button {
  margin: 0;
}
h2 {
  font: 10vh;
  padding: 0;
}
.board {
  display: flex;
  justify-content: center;
}
#space0 {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#space1 {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#space2 {
  border-bottom: 3px solid black;
}
#space3 {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
#space4 {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
#space5 {
  border-bottom: 3px solid black;
}
#space6 {
  border-right: 3px solid black;
}
#space7 {
  border-right: 3px solid black;
}
img {
  width: 25vh;
  height: 25vh;
}
#win {
  padding: 5vh;
  width: 75vh;
  height: 50vh;
}
